[SddmGreeterTheme]
Name=DeadPool-SDDM
Description=A SDDM theme for the love of Deadpool
Author=Kapy2003
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/Kapy2003/DeadPool-SDDM
Screenshot=sddm-preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=DeadPool-SDDM

