[SddmGreeterTheme]
Name=Tokyo Night SDDM (Reskinned)
Description=A Tokyo Night (Reskinned)Theme for SDDM
Author=Kapy
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/Kapy2003/Tokyo-Night-SDDM--Reskinned
Screenshot=sddm-preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=tokyo-night-sddm-(Reskinned)

